.ant-select ant-select-enabled{
  width: 96px;
  height: 24px;
  outline: none;
}

.ant-select-selection{
  background: #FFFFFF;
  border: 1px solid #1D1D1D !important;
}

.ant-select-selection__rendered{
  width: 96px;
  height: 24px;
  line-height: 20px;
}

.ant-select-selection--single{
  border-radius: 20px !important;
}