.simple_product{
  display: flex;
  flex-direction: column;
  .stars_wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 24px;
    p{
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      color: #000000;
      margin: 0 !important;
      margin-left: 8px!important;
    }
  }
  .price_wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 24px;
    span{
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      text-decoration-line: line-through;
      color: #B4B4B4;
    }
    h3{
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      color: #1D1D1D;
      margin: 0 18px 0 0;
    }
  }


  h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin: 24px 0 12px !important;
  }

  p{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin: 0 !important;
  }
}