.header{
  width: 100%;
  display: flex;
  margin: 0px auto;
  background: #041E42;
}

.header_wrap{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 28px 0;
}

.inline{
  width: 50%;
  display: flex;
  flex-direction: row;
}

.lang_bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  hr{
    width: 1px;
    height: 24px;
    border: none;
    background: #B4B4B4;
    margin: 0 16px;
  }
}