.filter_rating_list{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  border-bottom: 1px solid #B4B4B4;
  h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin: 0 !important;
  }
  .simple_rate_filter{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
  }
  .ant-checkbox-wrapper{
    span:last-child{
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      color: #000000;
      vertical-align: text-bottom;
    }
  }
  .ant-checkbox-inner{
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.25);
  }
  p{
    color: #656565;
    margin: 12px 0 4px !important;
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-size: 10px;
  }
}